
.home{
    background-image: url('../../assets/homeBg2.jpg');

    

    width: 100%;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.titleText {
  overflow: hidden;
  border-right: .02em solid white; /* Decreased thickness */
  white-space: nowrap;
  letter-spacing: .15em;
  text-align: left;
  animation: 
    typing-desktop 7.5s steps(40, end) forwards,
    blink-caret .75s step-end 7.5s infinite;
   /* Decreased font size */
}

  
  @keyframes typing-desktop {
    from { width: 0 }
    to { width: 30% }
  }
  
  /* Media query for mobile and tablet devices */
  @media (max-width: 768px) {
    .titleText {
      white-space: normal; /* Allow text to wrap */
      width: 100%; /* Set width to 100% for text to fill the container */
      animation: typing-mobile 7.5s steps(40, end) forwards,
      blink-caret .75s step-end 7.5s infinite;
      border-right: .10em solid orange;

    }
    
    @keyframes typing-mobile {
      from { width: 0 }
      to { width: 100% }
    }
    @keyframes blink-caret {
        from, to { border-color: transparent }
      }
  }
    
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
  }
  
  